@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Resetear CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de tema */
:root {
    --bg-color: rgb(255, 255, 255);
    --bg-color-footer: rgb(159, 195, 189);
    --text-color: rgb(0, 0, 0);
    --primary-color: rgb(0, 137, 234);
    --secondary-color: rgb(3, 218, 198);
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 16px;
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
    color: var(--text-color);
}

.nav-container {
    display: flex;
    align-items: center;
}

.header-logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 150px;
    transform: translate(-50%, -50%);
}

header img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Botón para abrir el menú */
.menu-toggle {
    border: none;
    background: none;
    color: var(--text-color);
    font-size: 24px;
}

/* Menu de navegación */
#menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    list-style: none;
    top: 0;
    left: -100%;
    height: 100%;
    width: 250px;
    padding: 32px 32px;
    border-radius: 0 20px 20px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--bg-color);
    transition: left 0.3s ease;
    z-index: 1;
}

#menu.show {
    left: 0;
}

#menu-close {
    align-self: flex-end;
    padding: 16px;
    margin-right: 10px;
    margin-top: 10px;
}

#menu li {
    padding: 24px 0;
}

#menu li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

#difficulty-options li {
    list-style: none;
    padding: 10px 0;
    margin-left: 40px;
    margin-top: 10px;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.setup, .game {
    display: flex;
    flex-direction: column;
    padding: 32px;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.game {
    max-width: 300px;
    padding: 16px 8px;
}

.input-container {
    margin-bottom: 24px;
    max-width: 400px;
    width: 100%;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-container input,
.input-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.game-button {
    flex: 0 0 auto; /* Permitir que los botones se ajusten según su contenido */
    border: none;
    padding: 16px 32px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

/* Estilos para el tablero del juego*/
.board {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.board button {
    flex: 1 0 calc(25% - 8px); /* Calcula el ancho del botón con espacio entre ellos */
    max-width: calc(25% - 8px); /* Asegura que cada botón tenga el mismo ancho */
    border: none;
    border-radius: 4px;
    padding: 16px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 24px;
    transition: background-color 0.3s;
}

/* Estilos del pie de página */
.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

footer {
    padding: 48px;
    background-color: var(--bg-color-footer);
    text-align: center;
}

footer a {
    margin: 0 24px;
    color: var(--primary-color);
    text-decoration: none;
}
